<!doctype html>
<title>Stock Prices</title>
<link rel=stylesheet type=text/css href='{{url_for('static', filename='style.css')}}'>
<div class=page>
    <h1>Stock Prices</h1>
    <div class=metanav>
        
        <h4>
            Please enter start and end dates in the following format:
            <br />
            MM-DD-YYY
        </h4>
        
        <form id='userinput' method='post' action='index'>
            <p>
            Start date: <input type='text' name='start_date' />
            </p>
            
            <p>
            End date: <input type='text' name='end_date' />
            </p>
            
            <p>
            <input type='submit' value='Submit' />
            </p>
            
        </form>
    
    </div>
</div>
</html>
